@import "../../theme.scss";

$margin: 20px;
$border-color: #ccc;

.DashboardMain {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0px;
    padding-top: 56px;
    margin: 0px;
    min-width: 1000px;
}

.Filters {
    width: 100%;
    height: 30px;
}

.BreadcrumbGroup {
    float: left;
}

.DateFilterGroup {
    width: 335px;
    float: right;
    div:first-child {
        float: left;
        margin-top: -2px;
        div {
            right: 0px;
            margin-top: 0px;
        }
    }
    div:nth-child(2) {
        float: left;
    }
}

.KPIs {
    width: 100%;
    height: 175px;
    margin-top: $margin;
    margin-bottom: $margin;
    clear: both;
}

.KPI {
    width: calc(25% - 15px);
    height: 100%;
    padding: 10px;
    margin-left: $margin;
    text-align: center;
    float: left;
    border: 1px solid $border-color;
    font-family: "Roboto" !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover {
        border: 3px solid $color-primary;
    }
    .headline .headline-primary-item {
        font-family: "Roboto" !important;
    }
}

.Active {
    border: 3px solid $color-primary-darker;
    &:hover {
        border: 3px solid $color-primary-darker;
    }
}

.KPI:first-child {
    margin-left: 0px;
}

.Title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.Chart {
    width: 100%;
    height: 300px;
    margin-bottom: $margin;
    text-align: center;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.Table {
    width: 100%;
    height: 50%;
    text-align: center;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
